<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div align="center">
<table border="3px" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td><a th:text="${user.getName()} "></a></td>
        <td><a th:text="${user.getSurname()}"></a></td>
        <td><a th:text="${user.getAge()}"></a></td>
        <td><a th:text="${user.getEmail()}"></a></td>
    </tr>
    </tbody>
</table>

<input align="right" type = "button" value = "logout"
       onclick = "window.location.href = '/logout'"/>

</div>
</body>
</html>